*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header{
	background-color: #EC715F;
	height: 70px;
	width: 100%;
}
.header-content{
	width: 1024px;
	margin: 0 auto;
}
.logo-img{
	height: 70px;
	float: left;
}
.nav{
	float: right;
}
.nav-list{
	float: left;
	padding: 0 30px;
	list-style: none;
	line-height: 70px;
	font-size:16px;
	color:#FAFAFA;
}
a{
	text-decoration: none;
}
.nav-list a {
	color: #FAFAFA
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}


.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-position: center;
	background-size: cover;
}
.title{
	font-size: 64px;
	color: #FAFAFA;
	text-align: center;
	padding-top: 200px;
}
.title-text{
	font-size: 20px;
	color: #FAFAFA;
	text-align: center;
	padding-top: 10px;
}

.portfolio{
	background-color: #ECEFF1;
	width: 100%;
	height: auto;
}
.heading{
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}
.heading::after{
	content: "";
	display: block;
	background-color: #EC715F;
	height: 3px;
	width: 70px;
	margin: 8px auto 0 auto;
}
.portfolio-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding-top: 30px;
}
.portfolio-box-group{
	width: 920px;
	height: auto;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}
.portfolio-box{
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
	margin: 10px 10px 0 0;
}
.portfolio-box:nth-child(-n+3){
	margin-top: 0;
}
.portfolio-box:nth-child(3n){
	margin-right: 0;
}

.bg-1{
	background-image: url(img/sketch.jpg);
}
.bg-2{
	background-image: url(img/websuku.png);
}
.bg-3{
	background-image: url(img/write.jpg);
}
.bg-4{
	background-image: url(img/webcamp.png);
}
.bg-5{
	background-image: url(img/talk.jpg);
}
.bg-6{
	background-image: url(img/webcamp-mother.png);
}

.heading-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding-top: 30px;
}
.feature-content-group{
	width: 980px;
	margin: 0 auto;
	padding:30px 0 90px 0;
}
.feature-heading{
	padding: 10px 0 ;
}
.fas{
	font-size: 60px;
	margin: 0 auto;
	display: block;
	margin: 0 auto;
}
.feature-content{
	width: 320px;
	height: auto;
	float: left;
	text-align: center;
	padding-right: 10px;
}
.feature-content:last-child{
	padding-right: 0;
}
.feature-content-text{
	text-align: left;
	font-size: 16px;
	color: #000000;
}

.profile{
	background-color: #ECEFF1;

}
.profile-content-group{
	width: 1024px;
	margin: 0 auto;
	padding: 30px 0 90px 0;
}
.profile-left-content{
	width: 50%;
	float: left;
}
.face{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
}
.right-text{
	padding-top: 5px;
}
.right-heading2{
	padding-top: 20px
}
.contact-content{
	width: 800px;
	padding-top: 30px;
	margin: 0 auto;
	padding-bottom: 90px
}
.contact-left{
	width: 50%;
	float: left;
}
.contact-left-content{
	margin: 0 auto;
}
.contact-heading{
	font-size: 20px;

}
.contact-link{
	padding-top: 5px;
	text-decoration: underline;
	color: #000000;
}
.contact-right{
	width: 50%;
	float: right;
}
.contact-right-content{
	margin: 0 auto;
}
footer{
	height: 60px;
	background-color: #EC715F;
}
.footer{
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
	line-height: 60px;
}
.fab{
	font-size: 50px;
	padding-right: 20px;
	padding-top: 5px;
}
.fab:last-child{
	padding-right: 0;
}

@media (max-width: 768px){
	.container{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	header{
		height: 50px;
		width: 100%;
	}
	.logo-img{
		height: 50px;
	}
	.main-visual{
	background-image: url(img/code.png);

	}
	.title{
		font-size: 40px;
		padding-top: 200px;
	}
	.sp-none{
		display: none;
	}
	.portfolio-box-group{
		width: 300px
	}
	.portfolio-box{
		float: none;
		margin:0 auto;
	}
	.feature-content-group{
		width: 320px;
	}
	.feature-content{
		float: none;
		margin:0 auto;
	}
	.profile-content-group{
		width: 360px;
	}
	.profile-left-content{
		width: 100%;
		float: none;
	}
	.contact-content{
		width: 100%;
	}
	.contact-left{
		float: none;
		width: 100%;
	}
	.contact-left-content{
		text-align: center;
	}
	.contact-right{
		float: none;
		margin:0 auto;
	}
	.contact-heading{
		text-align: center;
	}
	
	.menu-box{
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
	}
	.list-bar:first-child {
    margin-top: 10px;
	}
	.list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
	}
	.header-content{
		width: auto;
	}
	.nav{
		display: none;
	}
}
}